<a href="@($"/room/{room.Id}")"
   class="card h-100 shadow-sm text-decoration-none text-reset d-block card-hover">
    <img class="card-img-top room-img"
         alt="Room @room.Id"
         src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcache.marriott.com%2Fmarriottassets%2Fmarriott%2FLONPL%2Flonpl-guestroom-0117-hor-clsc.jpg%3Finterpolation%3Dprogressive-bilinear%26&f=1&nofb=1&ipt=ebe42a9838514aada588f06e57dcb5cd12e793934a0fcacb6a5e5df2d252dbf8"/>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title mb-2">Room @room.Id</h5>
        <ul class="list-unstyled small flex-grow-1 mb-3">
            <li><strong>Beds:</strong> @room.Beds</li>
            <li>
                <strong>WiFi:</strong>
                <span class="badge @(room.WiFi ? "bg-primary" : "bg-secondary")">
                        @(room.WiFi ? "Yes" : "No")
                    </span>
            </li>
            <li><strong>Price:</strong> @room.Price.ToString("C")</li>
        </ul>
        <div class="mt-auto"></div>
    </div>
</a>

@code {

    [Parameter] public required Room room { get; set; }

}